#tinymce.content {font-family: "Open Sans",sans-serif;font-size: 100%;line-height: 1.6rem;max-width: 915px;}
#tinymce.content>*:first-child {margin-top: 0;padding-top: 0;}
#tinymce.content>*:last-child {margin-bottom: 0;padding-bottom: 0;}
#tinymce.content img {max-width: 100%;}