body {font-family: Georgia,"Times New Roman",serif;}
#header, #footer, #discussion, #recommended {display: none;}
a:link, a:visited {background: transparent;color: inherit;text-decoration: none;}
a:link[href^="https://"]:after, a[href^="https://"]:visited:after {content: " (" attr(href) ") ";color: #222;}
a[href^="https://"] {color: blue;}