:root {
  /* Layout & Spacing */
  --layout-width: 60rem;
  --column-gap: 2rem;

  /* Colors */
  --color-red: #cf4140;
  --color-green: #bbd399;
  --color-blue: #23adf2;
  --color-blue-lightest: #bddcfc;
  --color-turquoise: #00fbf8;
  --color-yellow: #fed988;
  --color-black: #444;
  --color-white: #fcfcfc;

  /* Typography */
  --body-font-family: "Open Sans", sans-serif;
  --body-font-weight: 400;
  --header-font-weight: 200;
}

/* Breakpoints
-------------- */
@custom-media --small-viewport screen and (min-width: 600px);
@custom-media --medium-viewport screen and (min-width: 800px);
