.heading {
  text-align: center;
  padding: 0 2rem;
  border-left: 1px solid var(--color-blue-lightest);
  border-right: 1px solid var(--color-blue-lightest);
  margin: 2rem 0;
}

@media (--small-viewport) {
  .heading {
    padding: 0 15%;
  }
}
